<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.plan.mapper.EnvPlanMapper">

    <!-- 根据id集合查询设计方案信息 -->
    <select id="getPlanListByIds" resultType="org.jeecg.modules.plan.entity.EnvPlan">
        select p.* from env_plan p where p.id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>