<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqa.chn.modules.access.mapper.CeShiYiJuLaiYuanBiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sqa.chn.modules.access.entity.CeShiYiJuLaiYuanBiao">
        <result column="测试依据来源表ID" property="ceShiYiJuLaiYuanBiaoID" />
        <result column="序号" property="xuHao" />
        <result column="文档名称" property="wenDangMingCheng" />
        <result column="标识" property="biaoShi" />
        <result column="版本" property="banBen" />
        <result column="编写日期" property="bianXieRiQi" />
        <result column="接收日期" property="jieShouRiQi" />
        <result column="编制单位" property="bianZhiDanWei" />
        <result column="备注" property="beiZhu" />
        <result column="预留字段1" property="yuLiuZiDuan1" />
        <result column="预留字段2" property="yuLiuZiDuan2" />
        <result column="预留字段3" property="yuLiuZiDuan3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        测试依据来源表ID, 序号, 文档名称, 标识, 版本, 编写日期, 接收日期, 编制单位, 备注, 预留字段1, 预留字段2, 预留字段3
    </sql>

</mapper>
