<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqa.chn.modules.access.mapper.WenTiChuChuBiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sqa.chn.modules.access.entity.WenTiChuChuBiao">
        <result column="问题报告单ID" property="wenTiBaoGaoDanID" />
        <result column="出处描述" property="chuChuMiaoShu" />
        <result column="ID" property="id" />
        <result column="序号" property="xuHao" />
        <result column="处置状态" property="chuZhiZhuangTai" />
        <result column="处置说明" property="chuZhiShuoMing" />
        <result column="预留字段1" property="yuLiuZiDuan1" />
        <result column="预留字段2" property="yuLiuZiDuan2" />
        <result column="预留字段3" property="yuLiuZiDuan3" />
        <result column="预留字段4" property="yuLiuZiDuan4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        问题报告单ID, 出处描述, ID, 序号, 处置状态, 处置说明, 预留字段1, 预留字段2, 预留字段3, 预留字段4
    </sql>

</mapper>
