<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.running.uut.mapper.RunningUutKvMapper">
	<select id="findKvListByLinkId" resultType="org.jeecg.modules.running.uut.entity.RunningUutKv">
		SELECT * 
		FROM running_uut_kv
		WHERE link_id = #{linkId}
	</select>
	
	<resultMap id="mapResult" type="java.util.HashMap">
        <result property="key" column="prop_code"/>
        <result property="value" column="prop_value" />
    </resultMap>
    
	<select id="findKvMapByLinkId" resultMap="mapResult">
		SELECT prop_code, prop_value
		FROM running_uut_kv
		WHERE link_id = #{linkId}
	</select>
</mapper>