<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.access.mapper.CeShiYiJuBiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.access.entity.CeShiYiJuBiao">
        <result column="ID" property="id" />
        <result column="序号" property="xuHao" />
        <result column="测试依据" property="ceShiYiJu" />
        <result column="测试依据说明" property="ceShiYiJuShuoMing" />
        <result column="父节点ID" property="fuJieDianID" />
        <result column="章节号" property="zhangJieHao" />
        <result column="是否追踪" property="shiFouZhuiZong" />
        <result column="原因说明" property="yuanYinShuoMing" />
        <result column="使用者" property="shiYongZhe" />
        <result column="标识" property="biaoShi" />
        <result column="符合与否说明" property="fuHeYuFouShuoMing" />
        <result column="预留字段1" property="yuLiuZiDuan1" />
        <result column="预留字段2" property="yuLiuZiDuan2" />
        <result column="预留字段3" property="yuLiuZiDuan3" />
        <result column="预留字段4" property="yuLiuZiDuan4" />
        <result column="预留字段5" property="yuLiuZiDuan5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, 序号, 测试依据, 测试依据说明, 父节点ID, 章节号, 是否追踪, 原因说明, 使用者, 标识, 符合与否说明, 预留字段1, 预留字段2, 预留字段3, 预留字段4, 预留字段5
    </sql>

</mapper>
