<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.access.mapper.FuJianMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.access.entity.FuJian">
        <result column="附件ID" property="fuJianID" />
        <result column="序号" property="xuHao" />
        <result column="附件名称" property="fuJianMingCheng" />
        <result column="附件内容" property="fuJianNeiRong" />
        <result column="附件类型" property="fuJianLeiXing" />
        <result column="备注" property="beiZhu" />
        <result column="对应原文件路径" property="duiYingYuanWenJianLuJing" />
        <result column="关联数" property="guanLianShu" />
        <result column="输出与否" property="shuChuYuFou" />
        <result column="轮次ID" property="lunCiID" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        附件ID, 序号, 附件名称, 附件内容, 附件类型, 备注, 对应原文件路径, 关联数, 输出与否, 轮次ID
    </sql>

</mapper>
